.i-dest-body{
    background-color: black;
    height: auto;
    
}

.i-dest{
    height: 37.5em;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    font-size: 16px;
}
.i-dest1{
    display: flex;
    flex-direction: column;
    
}
.i-dest-t1 {
    padding-top: 1.875em;
    font-size: 1.75em;
    font-family: "Mansalva";
    color: #FCB418;
}
.i-dest-t2 {
    font-size: 2.5em;
    color: white;
   
}
.i-destt {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.75em; 
    width: 55em;
}

.i-dest-card{
    height:20em;
    width: 12.3em !important;
    background-color: white;
    border-radius: 1.25em;
}
.i-dest-card img{
    border-radius: 1.25em 1.25em  0em 0em;
    height: 14.375em;
    width: 12.3em;
}
.card-name{
    padding-top: 0.625em;
    font-weight: bold;
}
.card-name1{
    float: left;
    padding-left: 0.625em;
}
.card-name2{
    margin-left: 7.5em !important;
    display: flex;
    align-items: center;
}
.card-name3{
  
    margin-left: 0.65em !important;
    display: flex;
    align-items: center;
    float: left;
}
.card-but {
    margin-top: 0.938em;
}
.card-but1 {
    width: 5em;
    height: 2em;
    background-color: #FCB418;
    border-radius: 0.625em;
}
.i-dest-prev{
    border: none;
    font-size: 3.125em;
    position: absolute;
    top: 50%;
    left: 0.5em;
    transform: translateY(-50%);
    background: none;
}
.i-dest-next{
    border: none;
    font-size: 3.125em;
    position: absolute;
    top: 50%;
    right: 0.5em;
    transform: translateY(-50%);
    background: none;
}
@media only screen and  (min-width:500px) and (max-width: 999px) {
    .i-dest {
      width: auto;
      height: auto;
        font-size: 13px;
    }
    .i-destt{
        padding-bottom: 50px;
        display: flex;
        width: 40em;
    }
  }
  @media only screen and (max-width: 480px) {
  
    .i-dest {
        width: auto;
        height: 100%;
      }

.i-dest-t1 {
    padding-top: 30px;
    font-size: 12px;
}
.i-dest-t2 {
    font-size: 25px;
}
.i-destt {
    padding-top: 40px;
    padding-bottom: 40px;
    width: auto;
    flex-direction: column;
}
.i-dest2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.i-dest-card{
    height: 280px;
    width: 200px !important;
}
.i-dest-card1{
    height: 280px;
    width: 200px;
}
.i-dest-card2{
    margin-left: 0;
    height: 280px;
    width: 200px;
    margin-bottom: 40px;
}
.i-dest-card img{
    height: 200px;
    width: 200px;
}
.i-dest-card1 img{
    height: 200px;
    width: 200px;
}
.i-dest-card2 img{
    height: 200px;
    width: 200px;

}
.card-name1{
    padding-left: 10px;
}
.card-name2{
    margin-left: 130px !important;
}
.card-name3{
    margin-left: 12px !important;
    float: left;
}
  }