.Term{
    font-size: 16px;
}
.Term-head{
    background-color:#ffa60096;
    width:100%;
    height: 25em;
     display: flex; 
    justify-content: center;
    align-items:center;

}
.t-head-title{
    font-size: 2.5em ;
    font-weight: bold;
    color: white;
    text-align: center;
}
.term-body{
    background-color: white !important;
    width: 70em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

}
.term-body-para {
    margin-top: 3.125em;
}

.term-body-para1 {
    margin-top: 1.25em;
}
.term-body-para2 {
    margin-top: 1.25em;
    font-weight:bold ;
    font-size: 1.625em;
}
.term-body-para3 {
    margin-top: 0.313em;
}
@media only screen and (max-width: 480px) {
    .Term{
        font-size: 14px;
    }
    .t-head-title{
        font-size: 3em;
    }
    .Term-head{
        width:100%;
        height: 100vh;
    
    }
    .term-body{
        width: auto;
        margin-left: 1.25em;
        margin-right: 1.25em;
    
    }
}

@media only screen and  (min-width:500px) and (max-width: 900px) {
    .Term{
        font-size: 13px;
    }
 
    .Term-head{
    width:100%;
    height: 20em;
     
    }
    .term-body{
        width: auto;
        margin-left: 3.25em;
        margin-right: 3.25em;
        
    
    }
    .t-head-title{
        margin-top: 1.25em;
       
    }
}
@media only screen and  (min-width:1400px) and (max-width: 2000px) {
    .term-body{
        width: auto;
        margin-left: 3.25em;
        margin-right: 3.25em;
        
    }
}