
.destimg-body-top{
    display: flex;
    flex-direction: row;
    position: relative;
    gap:0.625em;
}
.destimg-body-middle{
    display: flex;
    flex-direction: row;
    padding-top: 0.938em;
    gap:0.625em;
}
.destimg-body-last{
    display: flex;
    flex-direction: row;
    padding-top: 0.938em;
    gap:0.625em;
}
.destimg-body-img{
    position: relative;
    width: 17.75em;
    height: 17.75em;
}
.destimg-body-i{
    height: 100%;
    width: 100%;
    border-radius: 0.625em;
    object-fit: cover;
}
.destimg-body-name{
    color: #FCB418;
    font-weight: bold;
    bottom: 3.125em;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.destimg-body-name1{
    color: white;
    font-weight: bold;
    bottom: 1.563em;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.destimg-slide-prev{
    border: none;
    font-size: 3.125em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
    z-index: 1;
    background: none;
}
.destimg-slide-prev1{
    border: none;
    font-size: 3.125em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
    z-index: 1;
    background: none;
    color: lightgrey;
}
.destimg-slide-next{
    border: none;
    font-size: 3.125em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    background: none;
}
.destimg-slide-next1{
    border: none;
    font-size: 3.125em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    background: none;
    color: lightgrey;
}
@media only screen and (max-width: 300px) {
    .destimg-main{
        height: 60vh;
        }
    .destimg-head-title {
        top: 25vh;
        left: 20%;
    }  
     .destimg-body {
        width: auto;
        padding: 0 0.625em;
    }
    .destimg-body-top{
        flex-direction: column;
    }
    .destimg-body-img{
        width: auto;
    }
    }
    @media only screen and  (min-width:300px) and (max-width: 480px) {
    .destimg-main{
    height: 60vh;
    }
    .destimg-head-title {
            top: 25vh;
            left: 30%;
    }
    .destimg-body {
        width: auto;
        padding: 0 1.25em;
    }
    .destimg-body-top{
        flex-direction: column;
    }
    .destimg-body-img{
        width: 10em;
        height: 10em;
    }
    .destimg-body-name{
        left: 40%;
    }
    .destimg-body-name1{
        left: 43%;
    }
    .destimg-body-middle{
        flex-direction: column;
    }
   
    .dest-ch-body{
        margin-top: 1.2em;
    }
    .dest-ch-title {
        padding-top: 1em;
        gap: 1em;
        
        
    }
    .dest-ch-main {
        display: flex; 
        flex-direction:column !important;

        
    }
}
