.reviews-left{
  width: 50em;
  height: 31.25em;
  margin-bottom: 3.125em;
  position: relative;
}
.reviews-left-img{
  width: 50em;
  height: 31.25em;
}
.reviews-left-arrows{
  position: absolute;
  bottom: 0.2em;
  left: 0.5em;
  font-size: 3.125em;
  color: #fff;
}
.reviews-left-box{
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0.625em;
  right: 0.625em;
  height: 12.5em;
  width: 21.875em;
  color: #fff;
}
.reviews-left-title{
  padding: 0.625em;
  margin-left: 0.625em;
  font-size: 1.563em;
  font-weight: bold;
}
.reviews-left-para{
  padding:0 2em;
  padding-bottom: 5em;
  font-size: 0.938em;
}