.p {
   
    width: 81.25em;
display: flex;
/* /* align-items: center; */
justify-content: center; 
flex-direction: row;
font-size: 16px;
    padding-top: 5.625em;
    padding-bottom: 5.625em;
    margin-left:auto;
    margin-right:auto;
}
.p-left {
    width: 25em ;
    height: 32em;
    /* padding-left: 20px; */
    border-radius: 1.875em 3.125em;
    background: url(../../../Images/pointsimg.jpg) ;
    background-size:cover;
    background-repeat:no-repeat;
} 
    .p-card-nam{
        height: 3.75em;
        width: 3.75em;
        border-radius: 50%;
        background-color: rgb(220, 171, 12);
        /* margin-left: 30px; */
        margin-top: 1.25em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .p-card-nam-icon{
        font-size: 2.5em;
        /* padding-left: 10px; */
    }
    .p-card-log {
        float: left;
        height: 12.5em;
        width: 8.75em;
        background-color: rgb(45, 44, 44);
        margin-top: -1.25em;
        margin-left: -5em;
        border-radius: 0.625em;
        display: flex;
        align-items: center;
        flex-direction: column;
    } 
    .p-num-log {
        font-size: 1.5em;
     
        color: rgb(214, 162, 48);
        padding-top: 1.25em;
        justify-content: center;
        display:flex ;
        font-weight: bolder;
    }
    .p-num-icon-dest {
        padding-top: 0.55em;
        font-size: 0.663em;
        color: rgb(214, 162, 48);
    }
  
  
    .p-left-box1 {
        float: right;
        height: 5.625em;
        width: 11.25em;
        background-color: rgb(45, 44, 44);
        margin-right: -3.125em;
        margin-top: 23.75em;
        border-radius: 0.625em;
        display: flex;
        flex-direction: column;
    }
    .p-card-nam-dest{
        font-size: 1.5em;
        color: rgb(214, 162, 48);
        display: flex;
        flex-direction: row;
        padding-left: 0.063em;
    }
    .p-card-nam1{
        font-size: 1.5em;
        color: rgb(214, 162, 48);
        display: flex;
        flex-direction: row;
        padding-left: 0.83em;
        padding-top: 0.5em;
    }
    .p-card-nam2{
        font-size: 1.5em;
        color: rgb(214, 162, 48);
        padding-left: 1.8em;
    }
    .p-card-nam-emp{
        font-size: 1.5em;
        color: rgb(214, 162, 48);
        padding-left: 1.8em;
        padding-top: -1em;
    }
 
    .p-num-icon {
        /* padding-top: 0.15em; */
        font-size: 1.3em;
        color: rgb(214, 162, 48);
    }  
     .p-num-icon1 {
        padding-top: 0.55em;
     
        font-size: 0.63em;
        color: rgb(214, 162, 48);
    }
    .p-num-log1 {
        /* font-size: 2.188em; */
        padding-left: 0.5em;
        color: rgb(214, 162, 48);
        justify-content: center;
        display:flex ;
        font-weight: bolder;
        /* margin-top: -0.313em; */
    }
.p-right {
    padding-top: 3.125em;
    padding-left: 4.375em;
   
}
.p-head{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
} 
.p-name{
    padding-left: 1.9em;
    color: #FCB418;
    font-size: 1.75em;
    font-family: 'Mansalva';
    font-weight: bold;
}
.p-title1{
    padding-left: 1.3em;
    font-size: 2.5em;
    font-weight: bold;
}
.p-title2{
    padding-left: 1.3em;
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 0.638em;
}
.p-para1 {
    width: 28.125em;
    padding-left: 3.125em;
    font-size: 1.125em;
}
.p-body {
    padding-top: 2.5em;
}
.p-card {
    float: left;
    height: 10.625em;
    width: 9.375em;
    background-color: rgb(45, 44, 44);
    margin-left: 3.125em;
    border-radius: 0.625em;
    display: flex;
    flex-direction: column;
}
.p-num {
    font-size: 2.188em;
    color: rgb(214, 162, 48);
    padding-top: 0.8em;
    padding-left: 0.5em;
    font-weight: bolder;
}
.p-num-right-icon {
    padding-left: 0.1em;
    font-size: 0.6em;
    color: rgb(214, 162, 48);
}
.p-card-name{
    font-size: 1.25em;
    color: rgb(214, 162, 48);
    /* padding-right: 60px; */
    padding-top: 1em;
    padding-left: 0.938em;
}
.p-card-name1{
    font-size: 1.25em;
    color: rgb(214, 162, 48);
    padding-left: 0.938em;
    /* padding-right: 40px; */
}
@media only screen and  (min-width:500px) and (max-width: 999px) {
    /* .p {
        flex-direction: column;
        width: auto;
    }
    .p-name{
        padding-left: 30px;
    }
    .p-title1{
        padding-left: 30px;
    }
    .p-title2{
        padding-left: 30px;
    }
    .p-para1{
        padding-left: 30px;
        /* width: 320px; */
    /* }
    .p-left-box1 {
        margin-right: -50px;
    }
   .p-card{
    height: 140px;
    width: 130px;
    margin-left: 30px;
   }
   .p-num {
    font-size: 30px;
    padding-top: 2px;
   }
   .p-num-right-icon{
    font-size: 25px;
   }
   .p-card-name{
    font-size: 20px;
    padding-top: 22px;
   }
   .p-card-name1{
    font-size: 20px;
   } */ 
   .p {
   
      /* width: 81.25em; */
    width: auto;
    font-size: 13px;
    /* padding-left:2em;
    padding-right:2em; */
}
.p-left {
 
    width: 18em;
    margin-left: 3.25em;
    
} .p-card-log{
    margin-left: -2em;
}
 .p-right{
    padding-left: 1em;
 }
 .p-card{
    margin-left: 1.25em;
 }
 .p-body{
    padding-left: 2.3em
 }
}

@media only screen and (max-width: 480px) {
    .p {
        display: flex;
        flex-direction: column;
        width: auto;
        padding-bottom: 0;
    }
    .p-left {
        
            height: 18.75em;
            width: 14.5em;
            margin-left: auto;
            margin-right: auto;
    }
    .p-card-log{
        height: 6.5em;
        width: 5em;
        margin-top: -0.938em;
        margin-left: -1.875em;
        border-radius: 0.313em;
    }
    .p-num-log{
        padding-top: 0.625em;
        font-size: 1.2em;
    }.p-card-nam-dest{
        font-size: 0.8em;
    }
    .p-num-icon {
        padding-top: 0;
        font-size: 1em;
    }
    .p-num-icon1 {
        padding-top: 0.65em;
    }
    .p-card-nam1 {
        font-size: 0.613em;
        padding-left: 0.438em;
    }
    .p-card-nam {
        height: 30px;
        width: 30px;
        margin-top: 10px;
    }
    .p-left-box1 {
      height: 4.375em;
      width: 6.25em;
      margin-top: 12.625em;
      margin-right: -1.25em;
      border-radius: 5px;
    }
    .p-card-logo{
        margin:0px;
        font-size: 25px;
    }
.p-num-log1 {
    font-size: 2.25em;
    margin-top: 0px ;
}
.p-card-nam-emp{
    font-size: 0.9em;
}
.p-card-nam2 {
    font-size: 13px;
    padding-left: 30px;
}
.p-right{
    padding-left: 1.25em;
    padding-right: 1.25em;
  
}
.p-name{
    font-size: 1em;
    padding-left: 0;
}
.p-title1{
    padding-left: 0;
    font-size: 2em;
}
.p-title2{
    padding-left: 0;
    font-size: 2em;
}
.p-para1{
    width: auto;
    padding-left: 0;
    font-size: 1em;
}
.p-body{
    display: flex;
    flex-direction: row;
}
.p-card{
    min-width: 4em;
    height: auto;
    margin-left: 0.2em;

}
.p-num{
    font-size: 1.8em;
}
.p-card-name{
    font-size: 1em;
}
.p-card-name1{
    font-size: 1em;
    padding-bottom: 1em;
}
}