.trek-card{
    font-size: 16px
}
.trek-card-link{
text-decoration: none !important;
color: black;
}
.trek-slide-prev{
    border: none;
    font-size: 3.125em;
    position: absolute;
    top: 40%;
    left: -60px;
    z-index: 1;
    background: none;
}
.trek-slide-prev1{
    border: none;
    font-size: 3.125em;
    position: absolute;
    top: 40%;
    left: -60px;
    z-index: 1;
    background: none;
    color: lightgrey;
}
.trek-slide-next{
    border: none;
    font-size: 3.125em;
    position: absolute;
    top: 40%;
    right: -20px;
    background: none;
}
.trek-slide-next1{
    border: none;
    font-size: 3.125em;
    position: absolute;
    top: 40%;
    right: -20px;
    background: none;
    color: lightgrey;
}
.trek-card{
    display:flex;
    flex-direction: column;
    height: 23.125em;
    width: 15em !important;
    border: 1px solid rgb(220, 213, 213);
    border-radius: 1.25em;
}
.trek-card-body{
    min-height: 6.25em !important;
}
.trek-card-img{
  margin: 1.25em;
    border-radius: 1.25em;
    width: 12.5em;
    height: 10.625em;
    object-fit: cover;
}
.trek-card-title{
    padding-left: 1.25em;
    padding-bottom: 0.625em;
    font-weight: bold;
}
.trek-card-loca1{
    padding-left: 1.25em;
    padding-bottom: 0.625em;
    display: flex;
    flex-direction: row;
}
.trek-card-loca-icon{
    margin-top: 1px;
}
.trek-card-day{
    margin-left: 3.125em;
    display: flex;
    flex-direction: row;
}
.trek-card-date{
    font-size: 0.813em;
    font-weight: bold;
    padding-left: 1.55em;
    padding-bottom: 0.625em;
}
.trek-card-total{
    display: flex;
    flex-direction: row;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 0.625em;
    padding-top: 0.625em;
    border-top: 1px solid rgb(220, 213, 213);
}
.trek-card-amount{
    padding-left: 3.75em;
    display: flex;
    flex-direction: row;
}
.trek-card-amount-icon{
    padding-top: 0.125em;
}


@media only screen and  (max-width: 330px) {

    .trek-card{
        margin-left: 0;
}
.trek-slide-prev{
    top: 40%;
    left: -30px;

}
.trek-slide-prev1{
    top: 40%;
    left: -30px;
    color: black;
}
.trek-slide-next{
    right: -30px;
color: black;
}
.trek-slide-next{
    right: -30px;
color: black;
}
}
@media only screen and (min-width: 330px) and (max-width: 480px) {
    .trek-card{
            margin-left: 10vw;
            width: 270px !important;
    }
    .trek-card-img{
        width: auto;
        margin: 1.25em;
    }
    .trek-card-day {
        margin-left: 5em;
    }
    .trek-card-amount {
        padding-left: 6em;
    }
    .trek-slide-prev{
        top: 40%;
        left: -20px;
    }
    .trek-slide-prev1{
        top: 40%;
        left: -20px;
        color: black;
    }
    .trek-slide-next1{
    color: black;
}
}
@media only screen and  (min-width:500px) and (max-width: 999px) {
    .trek-slide-prev{
        top: 40%;
        left: -40px;

    }
    .trek-slide-prev1{
        top: 40%;
        left: -40px;
        color: black;
    }
    .trek-slide-next1{
        color: black;
    }
}
@media only screen and  (min-width:1400px) and (max-width: 2000px) {
    .trek-card{
        font-size: 18px
    }
    
            }