.b-body {
    height: 100%;
    width: 81.25em;
    font-size: 16px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

.b-left{
    float: left;
    padding-left: 3.5em;
}
.b-left-head{
    display: flex;
    flex-direction: column;
    float: left;
    align-items: flex-start;
}
.b-name{
    font-size: 1.75em;
    font-family: 'Happy Monkey', cursive;
    font-weight: bold;
    color: #FCB418;
}
.b-title{
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.b-title1{
    
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding-bottom: 0.825em;
}
.b-left-body{
    height: 6.25em;
    width: 43.75em;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.b-box{
    height: 3.125em;
    width: 3.125em;
    background-color: rgb(192, 177, 45);
    border-radius: 0.625em;
    margin-top: 0.80em !important;
}
.b-box-des{
    padding-left: 1.25em;
    padding-top: 0.413em;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.b-box-name{
    font-weight:bold;
}
.b-box-para{
    width:28.125em;
}
.b-box1{
    height: 3.125em;
    width: 3.125em;
    background-color: rgb(185, 84, 34);
    border-radius: 0.625em;
    margin-top: 0.80em !important;
}
.b-box2{
    height: 3.125em;
    width: 3.125em;
    background-color: rgb(34, 37, 185);
    border-radius: 0.625em;
    margin-top: 0.80em !important;
}
.b-right{
    float: right;
    display: flex;
    flex-direction: column;
}
.b-card {
    height: 29.375em;
    width: 25.625em;
    border-radius: 1.25em;
    box-shadow: 0.625em 0.625em  1.25em  #FCB418;
}


.b-card-name{
    padding-top: 0.875em;
    padding-left: 1.563em;
    font-size: 1.25em;
    font-weight: bold;

}
.b-card-img{
    margin-top: 1.25em;
    margin-left: 1.563em;
}
.b-card-img1{
    border-radius: 1.25em;
    width: 22.5em ;
    height: 12.5em;
}
.b-card-name1{
    padding-left: 1.563em;
    padding-top: 1.25em;
    font-size: 1.25em;
}
.b-card-dot {
    margin-top: 1.25em;
    margin-left: 1.563em;
    height: 3.125em;
    width: 3.125em;
    background-color: #bbb;
    border-radius: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .b-card-dot1 {
    margin-top: 1.25em;
    margin-left: 1.875em;
    height: 3.125em;
    width: 3.125em;
    background-color: #bbb;
    border-radius: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .b-card-dot2 {
    margin-top: 1.25em;
    margin-left: 1.875em;
    margin-right: 8.75em;
    height: 3.125em;
    width: 3.125em;
    background-color: #bbb;
    border-radius: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .b-card-build-body{
    float: left;
display:flex;
flex-direction: row;
  }
  .b-card-build{
    
    font-size: 1.25em;
    padding-left: 1.875em;
    padding-top: 1.25em;
  }
  .b-card-icon{
    font-size: 1.25em;
  }
  .b-card-icon1{
    font-size: 1.25em;
    margin-right: 0.625em;
   
  }
  .b-card-icon2{
    font-size: 1.563em;
    padding-left: 3.5em;
    padding-top: 1.2em;
    
  }
  @media only screen and (max-width: 480px) {
    .b-body {
        display:flex;
        flex-direction: column;
        width: auto;
        font-size: 12px;
    }
    
    .b-left{
        display: flex;
        flex-direction: column;
        height: auto;
        padding-left: 1.6em;
        padding-right: 1.6em;
    }
    .b-name{
        padding-left: 0;
    }
    .b-title{
        padding-left: 0;
    }
    .b-title1{
        padding-left: 0;
        padding-bottom: 0.5em;
    }
    .b-left-body{
        padding-left: 0;
        height: 6em;
        width: auto;
       
    }
    .b-box-name{
        font-size: 15px;
    }
    .b-box-para{
        font-size: 14px;
        width: auto;
    }
    .b-box{
        width: 80px;
        height: 50px;
    }
    .b-box1{
        width: 85px;
        height: 50px;
    }
    .b-box2{
        width: 120px;
        height: 50px;
    }
    .b-right{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .b-card{
        margin-top: 50px;
        margin-left: 0;
        height: 380px;
        width: 300px;
    }
    .b-card-img1{
        width: 260px;
        height: 170px;
    }
.b-card-name{
    padding-top: 10px;
    font-size: 18px;
}
.b-card-name1{
    padding-top: 10px;
    font-size: 18px;
}
.b-card-dot {
    margin-top: 10px;
    margin-left: 20px;
    height: 30px;
    width: 30px;
}
.b-card-dot1 {
    margin-top: 10px;
    margin-left: 15px;
    height: 30px;
    width: 30px;
}
.b-card-dot2 {
    margin-top: 10px;
    margin-left: 15px;
    height: 30px;
    width: 30px;
}
.b-card-icon{
    font-size: 15px;
}
.b-card-build {
    margin-top: 10px;
    padding-left: 15px;
    font-size: 18px;
}
.b-card-icon1{
    font-size: 17px;
}
.b-card-icon2{
    font-size: 20px;
    padding-top: 1.7em;
    padding-left: 4em;
}
  }

  @media only screen and  (min-width:500px) and (max-width: 999px) {
  .b-body {
    width: auto;
    display: flex;
    flex-direction: row;
    font-size: 12px;  }
  .b-left {
    width: 30em;
    padding-left: 3em;
  }
  .b-right {
    margin-top:1.25em ;
    width:auto;
  }
  .b-card {
    margin-left: 2.5em;
  }
  .b-box-para {
    width: 22em;
}

}