
.partner-head{
    background-color:grey;
    width:100%;
    height: 25em;
     display: flex; 
    justify-content: center;
    align-items:center;

}
.partner-head-title{
    font-size: 2.5em ;
    font-weight: bold;
    color: white;
    text-align: center;
}
.partner-body{
    background-color: white !important;
    width: 75em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

}
.partner-body-para {
    margin-top: 3.125em;
    font-weight:bold ;
    font-size: 1.875em;
}


.partner-body-para1 {
    margin-top: 1.25em;
}
.partner-body-para2 {
    margin-top: 1.25;
    font-weight:bold ;
    font-size: 1.625em;
}
 .partner-body-para3 {
    margin-top: 1.25em;
}

.partner-form-row{
    display: flex;
    flex-direction: row;
    width: 62.5em;
    margin-left: auto;
    margin-right: auto;
}
.partner-form{
    margin-top: 3.125em;
    margin-bottom: 3.125em;
    width: 31.25em;
    display: flex;
    flex-direction: column;
}
.partner-form-name{
    display: flex;
    flex-direction: row;
    padding-top: 1.25em;
}
.partner-form-name-icon{
    font-size: 0.938em;
    padding-bottom: 0.313em;
}
.partner-form-title{
    padding-top: 0.188em;
}

.partner-form-title1{
    width: auto;
    padding-top: 1.25em;

}
.partner-form-text-area{
    padding-left: 1.25em;
}
.partner-form-name input{
    width: 18.75em;
    margin-left: 4.375em;
    height: 1.563em;
    padding-left: 0.625em;
}
.partner-form-email{
    display: flex;
    flex-direction: row;
    padding-top: 1.25em;
}
.partner-form-email-icon{
    font-size: 0.938em;
    padding-bottom: 0.313em;
}
.partner-form-email input{
    width: 18.75em;
    margin-left: 5.188em;
    height: 1.563em;
    padding-left: 0.625em;
}
.partner-form-number{
    display: flex;
    flex-direction: row;
    padding-top: 1.25em;
}
.partner-form-number-icon{
    font-size: 0.938em;
    padding-bottom: 0.313em;
}
.partner-form-number input{
    width: 18.75em;
    margin-left: 1.875em;
    height: 1.563em;
    padding-left: 0.625em;
}
.partner-form-area{
    display: flex;
    flex-direction: row;
    padding-top: 1.25em;
}
.partner-image{
    display: flex;
    flex-direction: row;
    padding-top: 12.5em;
    padding-left: 12.5em;
}
.partner-form-button{
    display: flex;
    justify-content: center;
}
.partner-form-but{
    margin-top: 1.875em;
    margin-bottom: 2.5em;
    border: none;
    border-radius: 0.313em;
    background-color: #FCB418 ;
    height: 1.875em;
    width: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 480px) {
    .partner-head{
        background-color:grey;
        width:100%;
        height: 100vh;
    
    }
    .partner-body{
        width: auto;
        margin-left: 1.25em;
        margin-right: 1.25em;
    
    }
    .partner-form-row {
        display: flex;
        flex-direction: column;
    }
    .partner-form {
        display: flex;
        flex-direction: column;
        width: 30em;
        margin-left: 1.25em;
        margin-right: 1.25em;

    }
    .partner-form-name {
        width: auto;
    }
    .partner-form-name input {
        width: auto;
        
    }
    .partner-form-but {
        width: auto;
        margin-right: 1.25em;
        justify-content: center;



    }

    .partner-image {
        width: auto;
        align-items: center;
        margin-left: 1.25em;
        margin-right: 1.25em;
    }
}