.partner{
    font-size: 16px;
}
.partner-head{
    background-color:#ffa60096;
    width:100%;
    height: 25em;
     display: flex; 
    justify-content: center;
    align-items:center;

}
.partner-head-title{
    font-size: 2.5em ;
    font-weight: bold;
    color: white;
    text-align: center;
}
.partner-body{
    background-color: white !important;
    width: 75em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

}
.partner-body-para {
    margin-top: 3.125em;
    font-weight:bold ;
    font-size: 1.875em;
}


.partner-body-para1 {
    margin-top: 1.25em;
}
.partner-body-para2 {
    margin-top: 1.25;
    font-weight:bold ;
    font-size: 1.625em;
}
 .partner-body-para3 {
    margin-top: 1.25em;
}

.partner-form-row{
    display: flex;
    flex-direction: row;
    width: 62.5em;
    margin-left: auto;
    margin-right: auto;
}.partner-form{
    margin-top: 3.125em;
    margin-bottom: 3.125em;
    width: 27em;
    display: flex;
    flex-direction: column;
}
.partner-form-name{
    display: flex;
    flex-direction: row;
    padding-top: 1.25em;
   
}
.partner-form-name-icon{
    font-size: 0.6em;
    padding-bottom: 0.6em;
}
.partner-form-title{
    padding-top: 0.188em;
    width: 10em;
}

.partner-form-title1{
    width: 10em;
    padding-top: 1.25em;

}
.partner-form-text-area{
    min-width: 19.5em;
   max-width: 19.5em;
   min-height: 4em;
}
.partner-form-name input{
    width: 18.75em;
    height: 1.563em;
    padding-left: 0.625em;
}
.partner-form-email{
    display: flex;
    flex-direction: row;
    padding-top: 1.25em;
}
.partner-form-email-icon{
    font-size: 0.6em;
    padding-bottom: 0.6em;
}
.partner-form-email input{
    width: 18.75em;
    height: 1.563em;
    padding-left: 0.625em;
}
.partner-form-number{
    display: flex;
    flex-direction: row;
    padding-top: 1.25em;
}
.partner-form-number-icon{
    font-size: 0.6em;
    padding-bottom: 0.6em;
}
.partner-form-number input{
    width: 18.75em;
    height: 1.563em;
    padding-left: 0.625em;
}
.partner-form-area{
    display: flex;
    flex-direction: row;
    padding-top: 1.25em;
}
.partner-image{
    display: flex;
    flex-direction: row;
    padding-top: 5.5em;
    padding-left: 12.5em;
}
.partner-form-button{
    display: flex;
    justify-content: center;
}
.partner-form-but{
    margin-top: 1.875em;
    margin-bottom: 2.5em;
    border: none;
    border-radius: 0.313em;
    background-color: #FCB418 ;
    height: 1.875em;
    width: 32em;
}
@media only screen and (max-width: 480px) {
    .partner{
        font-size: 14px;
    }
    .partner-head{
        background-color:grey;
        width:100%;
        height: 100vh;
    
    }
    .partner-body{
        width: auto;
        margin-left: 1.25em;
        margin-right: 1.25em;
    
    }
    .partner-form-row {
        display: flex;
        flex-direction: column;
    }
    .partner-form {
        display: flex;
        flex-direction: column;
        width: 24em;
        margin-left: 1.25em;
        margin-right: 1.25em;

    }
    .partner-title{
        font-size: 1.5em;
    }
    .partner-form-name {
        width: auto;
    }
    .partner-form-name input {
        width: 13em;
        padding-left: 0.4em;
    }
    .partner-form-email input {
        width: 13em;
        padding-left: 0.4em;
    }
    .partner-form-number input {
        width: 13em;
        padding-left: 0.4em;
    }
    .partner-form-text-area {
        min-width: 13.5em;
        max-width: 13.5em;
    }
    .partner-form-but {
        width: 30em;
        margin-right: 1.25em;
    }

    .partner-image {
        width: auto;
        align-items: center;
        margin-left: 1.25em;
        margin-right: 1.25em;
        padding-top: 0;
        padding-left: 2.5em;
    }
}
@media only screen and  (min-width:500px) and (max-width: 999px) {
        
    .partner{
        font-size: 13px;
      
    }
    .partner-body{
        width: auto;
        margin-left: 1.25em;
        margin-right: 1.25em;
    }
    .partner-form-row {
        width: auto;
        margin-left:  1.25em;
        margin-right:  1.25em;
    }
    .partner-form {
        width: 30em;
        margin-bottom: 0;

    }
    .partner-form-title {
            width: 8em; 
    }
    .partner-form-title1 {
        width: 8em; 
}
    .partner-form-email input {
        height: 1.6em;
    }
.partner-image {
        padding-left: 3em;
}
.partner-form-but{
    width: 27em;
}
}
@media only screen and  (min-width:1400px) and (max-width: 2000px) {

    .partner{
        font-size: 18px;
    }
}