.t-body{
    width: 81.25em;
    margin-left:auto;
    margin-right:auto;
    margin-top: 8.125em;
    margin-bottom: 6.563em;
    font-size: 16px;
    display: flex;
    flex-direction: row;
}
.test-left {
    float: left;
    display: flex;
    width: 31.25em;
    flex-direction: column;
    padding-left: 3.125em;
    padding-bottom: 9.375em;
}
.test-name {
    font-size: 1.875em;
    padding-top: 2.5em;
    color: #FCB418;
    font-family: "Mansalva";
    font-weight: bold;
}
.test-title {
    font-size: 2.5em;
    font-weight: bold;
}
.test-title1 {
    font-size: 2.5em;
    font-weight: bold;
   
}
.test-right {
    position: relative;
}
.test-card{
    width: 34.375em;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 1.25em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.test-card-para{
    font-size: 1em !important;
    line-height:1.875em !important;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 1.25em;
}
.test-card-img{
    height: 4.375em;
    width: 4.375em;
    border-radius: 50%;
    top:-2.5em;
    left:-1.875em;
    position: absolute;
}
.test-card-name
{
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 0.625em;
    padding-left: 1.475em;
}
.test-card-name1
{
    font-size: 1em;
    padding-left: 1.875em;
    padding-bottom: 1.25em;
}
.test-card1{
    width: 34.375em;
    height: 16.875em;
    display: flex;
    flex-direction: column;
    border-radius: 1.25em;
    position: absolute; 
    z-index: -1;
     left: 2.5em;
     top: 3em;
    border: 0.063em solid rgb(220, 213, 213);
}
.text-card1-name{
    padding-top: 10.525em;
    padding-left: 1.475em;
    font-size: 1.25em;
    font-weight: bold;
    
}
.text-card1-name1{
    padding-left: 1.875em;
    font-size: 1em;
    padding-bottom: 1.25em;
    margin-top: -0.24em;
}
.test-arrows{
    padding-left: 3.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.563em;
    font-size: 1.563em;
}
.test-arrow-top{

}
@media only screen and (max-width: 480px) {
    .t-body {
        margin-top: 0em;
        display: flex;
        flex-direction: column;
    }
    .test-card {
        margin-top: -5em;
        width: 20em;
        margin-left: 3.25em;
        margin-right: 2.25em;
    }
    .test-card-img {
        margin-left: 3.15em;
        margin-top: -3.25em;

    }
}