.qfaq {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .qfaq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
  }
  
  
  .qfaq-content {
    padding: 10px;
    background-color: #fff;
  }