#logout-bnb{
    color: #fff;
    background-color: #FCB418;
    border-radius: 10px;
  }
  #logout-download-button{
    color: #343a40;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #343a40 ;
  
  }
  
  #logout-download-button:hover {
    background-color: #FCB418;
    color: #f0f0f0;
  }
  
  #logout-enquiry-button{
    color: #343a40;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #343a40 ;
  
  }
  #logout-enquiry-button:hover {
    background-color: #FCB418;
    color: #f0f0f0;
  }
  
  .product{
  font-size: 16px;
  }
  /* downloadBtnId: "logout-download-button",
                  enquiryBtnId: "logout-enquiry-button", */
  .product-img{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .product-img-main{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
  }
  .product-img-body{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0 ;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.4);
    font-size: 1.125em;
  }
  .product-title-body{
    width: 60.5em;
    margin-left: auto;
    margin-right: auto;
  }
  .product-body-contain{
    position: absolute;
    top:35%;
    display: flex;
    flex-direction: column;
  }
  .product-img-title{
    font-size: 2.5em;
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .product-title-time{
    display: flex;
    flex-direction: row;
  }
  .product-title-icon{
    padding-top: 0.188em;
    padding-right: 0.125em;
    float: left;
  }
  .product-title-icon1{
    padding-top: 0.188em;
    padding-right: 0.125em;
    padding-left: 1em;
    float: left;
  }
  .prodeuct-title-para{
    width: 62.5em;
    padding-top: 0.5em;
  }
  .product-iternary{
    height: 100%;
    width: 68.75em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4em;
  }
  .product-iternary-left {
    padding-top: 3.125em;
    padding-left: 1em;
    width: 67em;
  }
  .product-iternary-left-line{
    content: "";
    height:0.188em;
    width: 1.875em;
    background: #FCB418 ;
  }
  .product-iternary-left-title{
    font-size: 2.5em;
    color: #FCB418;
    font-weight: bold;
  }
  .product-iternary-left-day{
  margin-top: 1.25em;
  box-shadow: 0.125em 0em  0.125em 0.125em rgb(233, 229, 229);
  }
  .product-iternary-left-day0{
  display: flex;
  background-color: #f0f0f0;
  padding-left: 1em;
  align-items: center;
    font-size: 1.363em;
    font-weight: bold;
    cursor: pointer;
  }
  .product-iternary-left-day0-but{
  margin-left: auto; 
  margin-right: 0.313em;
  }
  .product-iternary-left-day0-icon{
  color: #FCB418;
  padding-top: 0.1em;
  font-size: 1.875em;
  font-weight: bold;
  
  }
  .product-iternary-left-day0-body{
  display: flex;
  flex-direction: column;
  padding: 1.25em;
  }
  .product-iternary-left-day0-title{
  display: flex;
  flex-direction: row;
  }
  
  .product-iternary-left-day0-point{
  display: flex;
  flex-direction: row;
  }
  .product-iternary-left-day0-point-icon{
  padding-top: 0.125em;
  width: 1.25em;
  }
  .product-iternary-left-day0-point-text{
  /* width: 34.375em; */
  width: 67em;
  }
  .product-iternary-left-day0-point-loc{
  padding-left: 1.375em;
  display: flex;
  flex-direction: row;
  }
  .product-iternary-left-but-bt{
  width:9.375em;
  height: 3.125em;
  background-color: #FCB418;
  color: white;
  border-color: white;
  border-radius: 0.625em;
  float: left;
  margin-top: 3.125em;
  }
  
  .product-list{
    display: flex;
    flex-direction: row;
    position: relative;
  
    height: 100%;
    width: 70.75em;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-bottom: 3.125em;
  }
  
  .bloc-tabs1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4.688em;
    width: 18.75em;
    height: auto;
    position: sticky;
    top: 0.625em;
  }
  .tabs1 {
    margin-top: 0.625em ;
    text-align: center;
    box-shadow: 0.313em 0em  0.625em 0.625em rgb(233, 229, 229);
    width: 12.5em;
    height: 5em;
    cursor: pointer;
    background-color: #fff;
    border-radius: 0.625em;
    box-sizing: content-box;
    outline: none;
    font-size: 1em;
  }
  
  .active-tabs1 {
    background-color: #FCB418;
    color:black;
    border-radius: 0.625em;   
    font-weight: bold;
  
  }
  button {
    border: none;
    
  }
  .content-tabs1 {
    background: white;
    width: 50em;
  
    padding-top: 5.313em;
  }
  .content1 {
   
    display: none;
  }
  .active-content1 {
    box-shadow: 0.313em 0em  0.625em 0.625em rgb(233, 229, 229);
    padding-top: 0.313em;
    padding-bottom: 0.625em;
    padding-left: 0.313em;
    padding-right: 0.313em;
    border-radius: 0.625em;
    min-height: 21.25em;
    display: block;
  }
  .product-detail-ie{
    display: flex;
    flex-direction: column;
  }
  .product-detail-ie1{
    display: flex;
    flex-direction: row;
  }
  .product-detail-inclusions{
    padding-left: 0.313em;
    padding-bottom: 1.25em;
  }
  .product-detail-point{
    display: flex;
    flex-direction: row;
  }
  .product-detail-point-icon{
    width: 1.25em;
    padding-top: 0.125em;
  }
  .product-detail-point-text{
    width: 21.875em;
  }
  .product-detail-inclusions1{
    padding-bottom: 0.625em;
    padding-left: 0.625em;
    padding-top: 0.45em;
    font-size: 1.475em;
    font-weight: bold;
  }
  .product-detail-exclusions{
    padding-bottom: 1.25em;
    padding-left: 0.625em;
    padding-top: 0.625em;
    width: 25em;
  }
  .product-detail-exclusions1{
    padding-bottom: 0.625em;
    font-size: 1.475em;
    font-weight: bold;
  }
  .product-detail-things{
    padding-bottom: 1.25em;
    padding-left: 0.625em;
    width: 43.75em;
  }
  .product-detail-things1{
    padding-bottom: 0.625em;
    font-size: 1.875em;
    font-weight: bold;
  }
  .product-detail-point-text1{
    width: 43.75em;
  }
  .product-detail-policy{
    display: flex;
    flex-direction: column;
  }
  .product-detail-policy1{
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 0.625em;
  padding-bottom: 1.25em;
  padding-left: 0.625em;
  }
  .product-detail-policy-point{
    display: flex;
    flex-direction: row;
    padding-left: 0.313em;
  }
  .product-detail-policy-point-icon{
    width: 1.25em;
    padding-top: 0.125em;
  }
  .product-detail-policy-point-text{
    max-width: 45em;
  }
  .product-detail-question{
    display: flex;
    flex-direction: column;
  }
  .product-detail-question-title{
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 0.625em;
  padding-bottom: 1.25em;
  padding-left: 0.625em;
  }
  .product-detail-question-faq{
    padding: 0 1em;
  }
  .round-tab-contain{
    width: 68em;
    /* padding-left: 0.625em; */
    margin-left: auto;
    margin-right: auto;
  }
  .round-tab-head-title{
    font-size: 2.5em;
    font-weight: bold;
    color: #FCB418;
  
  }
  .round-tabs-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.25em;
  }
  
  .round-tabs {
    display: flex;
    margin-bottom: 1.25em;
  }
  
  .round-tab {
    padding: 10px 30px;
    margin: 0 5px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .round-tab.active {
    background-color:#FCB418; 
    color: #fff;
    font-weight: bold;
  }
  
  
  .round-tabs{
    background-color: lightgoldenrodyellow;
    border-radius: 2em;
  }
  .round-tab-content{
    padding-top: 0.625em;
    padding-bottom: 2.5em;
  }
  .round-tab-content-head{
    display: flex;
    flex-direction: column;
  }
  .round-tab-point{
   display: flex;
   flex-direction: row;
   font-size: 1.25em;
  }
  .round-tab-point-icon{
    width: 1.25em;
    color: #FCB418;
    padding-top: 0.2em;
  }
  .round-tab-point-text{
    width: 56em;
  }
  .product-gal{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 67.625em;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625em;
    border: none;
    position: relative;
  }
  .product-gal-head-title{
    font-size: 2.5em;
    color: #FCB418;
    font-weight: bold;
  }
  .product-gal-head-title1{
    position: absolute;
    padding-left: 0.5em;
    padding-top: 3.5em;
    font-size: 0.8em;
    font-weight: lighter;
  }
  
  .similar-body{
    margin-left: auto;
    margin-right: auto;
    width: 68.75em;
    display: flex;
    flex-direction: column;
    padding-top: 3.125em;
    padding-bottom: 3.125em;
  }
  .similar-body-intro-line{
    content: "";
    height:0.188em;
    width: 2.188em;
    background: #FCB418 ;
    margin-bottom: 1.25em;
    
  }
  .similar-intro{
    display: flex;
    flex-direction: row;
  
  }
  .similar-intro-title{
    width: 13.5em;
    padding-right: 0.2em;
    font-size: 1.875em;
    font-weight: bold;
    color: #FCB418;
  }
  .similar-intro-line{
    content: "";
    height:5em;
    width: 0.25em;
    background: #FCB418 ;
    margin-right: 2.5em;
  }
  .similar-intro-para{
    width: 34.375em;
  }
  .similar-card-body{
    display: flex;
    flex-direction: row;
    padding-top: 3.125em;
  }
  .similar-card-left{
    height: 31.25em ;
    width: 22.188em;
    margin-right: 1.875em;
    box-shadow: 0.125em 0em  0.313em 0.313em rgb(233, 229, 229); 
    display: flex;
    flex-direction: column;
  }
  .similar-card-left-img{
    height: 12.5em;
    width: auto;
  }
  .similar-card-left-line{
    content: "";
    height:0.188em;
    width: 2.188em;
    background: #FCB418 ;
    margin-left: 1.25em;
    margin-bottom: 0.625em;
    margin-top: 1.25em;
  }
  .similar-card-left-title{
    font-size: 1.875em;
    color: #FCB418;
    padding-left: 0.6em;
    font-weight: bold;
  }
  .similar-card-left-para{
    padding: 1.25em;
    height: 7.5em
  }
  .similar-card-left-but{
    border-radius: 1.25em;
    height: 2.5em;
    width: 7.5em;
    color: #fff;
    background-color: #FCB418;
    margin-left: 1.25em;
  }
  
  .similar-card-center{
    height: 31.25em;
    width: 22.188em;
    margin-right: 1.875em;
    box-shadow: 0.125em 0em 0.313em 0.313em rgb(233, 229, 229); 
    display: flex;
    flex-direction: column;
  }
  .similar-card-center-img{
    height: 12.5em;
    width: auto;
  }
  .similar-card-center-line{
    content: "";
    height:0.188em;
    width: 2.188em;
    background: #FCB418 ;
    margin-left: 1.25em;
    margin-bottom: 0.625em;
    margin-top: 1.25em;
  }
  .similar-card-center-title{
    font-size: 1.875em;
    color: #FCB418;
    padding-left: 0.6em;
    font-weight: bold;
  }
  .similar-card-center-para{
    padding: 1.25em;
    height: 7.5em;
  }
  .similar-card-center-but{
    border-radius: 1.25em;
    height: 2.5em;
    width: 7.5em;
    color: #fff;
    background-color: #FCB418;
    margin-left: 1.25em;
  }
  .similar-card-right{
    height: 31.25em;
    width: 22.188em;
    box-shadow: 0.125em 0em  0.313em 0.313em rgb(233, 229, 229); 
    display: flex;
    flex-direction: column;
  }
  .similar-card-right-img{
    height: 12.5em;
    width: auto;
  }
  .similar-card-right-line{
    content: "";
    height:0.188em;
    width: 2.188em;
    background: #FCB418 ;
    margin-left: 1.25em;
    margin-bottom: 0.625em;
    margin-top: 1.25em;
  }
  .similar-card-right-title{
    font-size: 1.875em;
    color: #FCB418;
    padding-left: 0.6em;
    font-weight: bold;
  }
  .similar-card-right-para{
    padding: 1.25em;
    height: 7.5em;
  }
  .similar-card-right-but{
    border-radius: 1.25em;
    height: 2.5em;
    width: 7.5em;
    color: #fff;
    background-color: #FCB418;
    margin-left: 1.25em;
  }
  
  .reviews-body{
    width: 68.75em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
  }
  
  .reviews-right{
    padding-top: 6.25em;
  }
  .reviews-right-line{
    content: "";
    height:0.188em;
    width: 2.188em;
    background: #FCB418 ;
    margin-left: 1.25em;
    margin-bottom: 1em;
    margin-top: 1.25em;
  }
  .reviews-right-title{
    padding-left: 0.6em;
    padding-bottom: 0.2em;
    font-size: 1.875em;
    font-weight: bold;
    color: #FCB418;
  }
  .reviews-right-para{
    padding: 1.25em;
  }
  @media only screen and (max-width: 480px) {
    .product{
      font-size: 14px;
    }
    .product-title-body {
      width: auto;
      margin-left: 0px;
      margin-right:0px;
    }
    .product-body-contain {
      top: 15%;
      padding: 0.625em;
    }
    .product-img-title {
    font-size: 2em;
    }
    .product-img-body{
      font-size: 1em;
    }
    .product-title-time {
      display: flex;
      flex-direction: column;
    }
    .product-title-icon1 {
      padding-left: 0;
    }
  .prodeuct-title-para {
    width: auto;
  }
  .product-iternary {
    width: auto;
    display: flex;
    flex-direction: row;
  }
  .product-iternary-left {
    padding: 1.5em 0.625em;
  }
  .product-iternary-left-but-bt {
    font-size: 0.75em;
  }
  .product-iternary-left-title {
    font-size: 2em;
  }
  .product-iternary-left-day0 {
    font-size:1.188em;
    padding-left: 0.5em;
  }
  .product-iternary-left-day0-icon {
  font-size: 1.525em;
  }
  .product-iternary-left-day0-point-text {
    width: auto;
  }
  .product-list {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 1.125em;
  }
  .bloc-tabs1 {
    display: flex;
    flex-direction: row;
    padding-top: 1.3em;
    padding-left: 0.625em;
    padding-right: 0.625em;
    width: auto;
  }
  .tabs1{
    width: 8em;
    height: 5em;
    font-size: 0.75em;
    margin-top: 0em;
  }
  .content-tabs1 {
    width: auto;
    padding-top: 1em;
    padding-left: 0.625em;
    padding-right: 0.625em;
  }
  .active-content1 {
    min-height: auto;
  }
  .product-detail-ie1 {
    display: flex;
    flex-direction: column;
  }
  .product-detail-inclusions {
    padding-left: 0;
    padding-bottom: 0;
  }
  .product-detail-inclusions1 {
    font-size: 1.3em;
  }
  .product-detail-exclusions1 {
    font-size: 1.3em;
    padding-left: 0.625em;
  }
  .product-detail-exclusions {
    padding-left: 0;
  }
  .product-detail-things1 {
    font-size: 1.3em;
  }
  .product-detail-policy1 {
    font-size: 1.3em;
    padding-bottom: 0.625em;
  }
  .product-detail-question-title {
    font-size: 1.3em;
  }
  .round-tab-contain{
    width: auto;
    margin: 0 1.25em;
  }
  .round-tab-point{
    font-size: 1em;
   }
   .round-tab-head-title{
    font-size: 2em;
   }
  .product-gal {
  width: auto;
  padding-left: 0.625em;
  padding-right: 0.625em;
  }
  .product-gal-head-title {
    font-size: 2em;
  }
  .product-gal-head-title1 {
    padding-top: 3em;
    font-size: 0.9em;
  }
  .similar-body{
    width: auto;
    padding: 2em 0.625em;
  }
  .similar-body-intro-line {
    margin-bottom: 0.5em;
  }
  .similar-intro{
    display: flex;
    flex-direction: column;
  }
  .similar-intro-title{
    width: auto;
    font-size:1.875em ;
  }
  .similar-intro-line{
    display: none;
  }
  .similar-intro-para{
    width: auto;
  }
  .similar-card-body{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
  }
  .similar-card-left{
    width: auto;
    margin-right: 0;
    margin-bottom: 1em;
    height: 100%;
  }
  .similar-card-left-title{
    font-size: 1.375em;
  }
  .similar-card-left-line{
    margin-left: 0.925em;
  }
  .similar-card-left-para{
    padding:0.85em;
    min-height: 9em;
  }
  .similar-card-left-but{
    margin-bottom: 3em;
    margin-left: 1em;
  }
  .similar-card-center{
    width: auto;
    margin-right: 0;
    margin-bottom: 1em;
    height: 100%;
  }
  .similar-card-center-title{
    font-size: 1.375em;
  }
  .similar-card-center-line{
    margin-left: 0.925em;
  }
  .similar-card-center-para{
    padding:0.85em;
    min-height: 9em;
  }
  .similar-card-center-but{
    margin-bottom: 3em;
    margin-left: 1em;
  }
  .similar-card-right{
    width: auto;
    margin-right: 0;
    margin-bottom: 1em;
    height: 100%;
  }
  .similar-card-right-title{
    font-size: 1.375em;
  }
  .similar-card-right-line{
    margin-left: 0.925em;
  }
  .similar-card-right-para{
    padding:0.85em;
    min-height: 9em;
  }
  .similar-card-right-but{
    margin-bottom: 3em;
    margin-left: 1em;
  }
  .reviews-body{
    flex-direction: column;
    width: auto;
  }
  .reviews-right{
    padding-top: 0;
    padding-left: 0.625em;
    padding-right: 0.625em;
  }
  .reviews-right-line{
    margin-top: 0;
    margin-left: 0;
  }
  .reviews-right-title{
    padding-left: 0;
  }
  .reviews-right-para{
    padding-left: 0;
    padding-right: 0;
  }
  }
  
  
  @media only screen and  (min-width:500px) and (max-width: 999px) {
    .product{
      font-size: 13px;
    }
    .product-title-body {
      width: auto;
      margin-left: 0px;
      margin-right:0px;
    }
    .product-body-contain {
      top: 30%;
      padding: 1.2em;
    }
    .prodeuct-title-para {
      width: auto;
    }
    .product-iternary{
      padding: 0 1.2em;
    }
    .product-iternary-left {
      padding-left: 0;
    }
    .product-iternary-left-title{
      font-size: 2em;
    }
    .product-iternary-left-day0 {
    font-size: 1em;
    }
    .product-iternary-left {
      width: 28em;
    }
    .product-iternary-left-day0-point-text {
      width: auto;
    }
    .product-iternary-left-day0-body {
      padding: 0.625em;
    }
    .product-list{
      width: auto;
      padding-top: 1.25em;
      padding-right: 1.2em;
      padding-left: 1.2em;
    }
    .bloc-tabs1{
      width: auto;
      padding-top: 0;
      margin-left: 0.625em;
    }
    .tabs1{
      font-size: 0.8em;
    }
    .content-tabs1{
      padding-top: 0.5em;
      margin-left: 0.625em;
      width: auto;
    }
    .active-content1 {
      padding-top: 0; 
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 1em;
      min-height: 17em;
      display: block;
    }
    .product-detail-ie1 {
      min-width: 30em;
    }
    .product-detail-policy {
      min-width: 20em;
      padding-right: 0.5em;
    }
    .product-detail-point-text {
      width: auto;
    }
    .product-detail-things{
      width: 30em;
    }
    .product-detail-point-text1 {
      width: auto;
    }
    .product-detail-question{
      width: 30em;
    }
    .round-tab-contain{
      width: auto;
      margin: 0 1.25em;
    }
   
    .product-gal {
      width: auto;
      padding: 1.2em;
    }
    .product-gal-head-title{
      font-size: 2em;
    }
    .product-gal-head-title1{
      padding-top: 2.7em;
    }
    .similar-body{
      width: auto;
      padding: 1.2em;
    }
    .similar-intro-title{
      font-size: 2em;
    }
    .similar-card-left{
      min-width: 10em;
      height: auto;
    }
    .similar-card-left-title{
      font-size: 1.375em;
    }
    .similar-card-left-line{
      margin-left: 0.925em;
    }
    .similar-card-left-para{
      padding:0.85em;
      font-size: 0.8em;
      min-height: 11em;
    }
    .similar-card-left-but{
  
      margin-bottom: 1em;
      margin-left: 1em;
    }
    .similar-card-center{
      min-width: 10em;
      height: auto;
    }
    .similar-card-center-title{
      font-size: 1.375em;
    }
    .similar-card-center-line{
      margin-left: 0.925em;
    }
    .similar-card-center-para{
      padding:0.85em;
      font-size: 0.8em;
    min-height: 11em;
    }
    .similar-card-center-but{
      margin-bottom: 1em;
      margin-left: 1em;
    }
    .similar-card-right{
      min-width: 10em;
      height: auto;
    }
    .similar-card-right-title{
      font-size: 1.375em;
    }
    .similar-card-right-line{
      margin-left: 0.925em;
    }
    .similar-card-right-para{
      padding:0.85em;
      font-size: 0.8em;
      min-height: 11em;
    }
    .similar-card-right-but{
      margin-bottom: 1em;
      margin-left: 1em;
    }
    .reviews-body{
      width: auto !important;
      margin: 0 1.2em;
    }
    .reviews-right {
      padding-top: 1.5em;
  }
  } 
  @media only screen and  (min-width:1200px) and (max-width: 2000px) {

    .product{
        font-size: 18px;
    }
}