.Intro {
  display: flex;
  max-width:81.25em;
  flex-direction: row;
  margin-left:auto;
  margin-right:auto;
  font-size: 16px;
  padding-top: 5.625em;
  padding-bottom: 5.625em;
}
.i-left {
  display: flex;
  flex-direction: column;
  padding-left: 3.75em;
}
.i-name {
  font-size: 1.75em;
  color: #FCB418;
  font-family: 'Happy Monkey', cursive;
  /* font-weight:bold; */
}
.i-title{
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
.i-title1{
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  padding-bottom: 0.9em;
}
.i-discrip1{
  font-size: 1.125em;
  max-width: 25em; 
  padding-bottom: 2.4em;
}

.i-button{
  width:9.375em;
  height: 3.125em ;
  background-color: #FCB418;
  color: white;
  border-color: white;
  border-radius: 0.625em;
  float: left;
}

.i-right-img{
  height: 25em;
  width: 31.25em;
  border-radius: 1.875em;
  margin-left: 8em;
}
@media only screen and (max-width: 480px) {
  .i-left {
    padding: 0;
    display: flex;
    align-self: center;
  }
  .Intro{
    flex-direction: column;
    height: auto;
    width: auto;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
.i-right{
  justify-content: center;
  align-items: center;
  display: flex;
}
  .i-right-img {
    margin-top: 3.25em;
    margin-left: 0;
    height: 22em;
  width: 25.25em;
  }
  
}

@media only screen and  (min-width:500px) and (max-width: 999px) {
  .i-left {
    margin-top: 1.475em;
    width: auto;
    padding-left: 1.75em;
  }
  .Intro{
    flex-direction: row;
    height: auto;
    width: auto; 
  }
  .i-name{
    font-size: 1.25em;
  }
  .i-title1{
    font-size: 2.5em
  }
  .i-right{
    margin-bottom: 1.25em;
    margin-right: auto;

  }
  .i-right-img{
    height: 15em;
    width: 18em;
    margin-left:  1.25em;;
    margin-right:  2.25em;;
   margin-top: 3.25em;

  }
}