.topslide{
    max-width: 70.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding-top: 3.125em;
    position: relative;
}
.image-zoom-container {
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    cursor: pointer; 
  }
  
  /* .image-zoom-container img {
    width: 100%;
    height: auto; 
    transition: transform 0.3s;
  } */
  
  .image-zoom-container.zoomed {
    transform: scale(1.2); 
  }
.topslide-title{
    font-size: 1.875em;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.topslide-prev{
    border: none;
    font-size: 3.125em;
    position: absolute;
    top: 40%;
    left: -0.1em;
    background: none;
}
.topslide-next{
    border: none;
    font-size: 3.125em;
    position: absolute;
    top: 40%;
    right: -0.1em;
    background: none;
}
.topslide-contain{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-top: 1.875em;
    border: none !important;
    outline: none !important;

}
.topslide-contain-img{
    border-radius: 50%;
    transition: transform 0.3s;
    width: 7.5rem;
    height: 7.5rem;
}
.topslide-contain-name{
    font-size: 1em;
    font-weight: bold;
    padding-top: 10px;
}
.topslide-contain-name1{
    font-size: 1em;
    font-weight: bold;
}
@media only screen and (max-width: 480px) {

.topslide{
    font-size: 13px;
}
.topslide-title {
    margin-left: 1.25em;
    margin-right: 1.25em;
    text-align: center;
}
.image-zoom-container {
    cursor: auto; 
  }
}
@media only screen and  (min-width:500px) and (max-width: 999px) {
    .topslide-title {
        margin-left: 0.625em;
    }
    .image-zoom-container {
        cursor: auto; 
      }
}
@media only screen and  (min-width:1366px) and (max-width: 1980px) {
    .topslide{
        font-size: 18px;
    }
}