body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
button{
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
}
input {
  font-family: 'Poppins', sans-serif;
}
@media only screen and  (min-width:500px) and (max-width: 999px) {
  button{
    font-size: 13px;
  }
}
@media only screen and (max-width: 480px) {
  button{
    font-size: 14px;
  }
}