.Careers{
    font-size: 16px;
}

.careers-head{
    background-color:#ffa60096;
    width:100%;
    height: 25em;
     display: flex; 
    justify-content: center;
    align-items:center;

}
.careers-head-title{
    font-size: 2.5em ;
    font-weight: bold;
    color: black;
    text-align: center;
}

.careers-body{
    background-color: white !important;
    width: 75em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

}
.careers-body-para {
    margin-top: 3.125em;
    font-weight:bold ;
    font-size: 1.875em;
}



.careers-body-para2 {
    margin-top: 1em;
    font-weight:bold ;
    font-size: 1.625em;
}

.careers-body-para4 {
    margin-top: 1em;
    font-weight:bold ;
    font-size: 1.625em;
}
.careers-body-para5 {
    margin-top: 0.313em;
}

.careers-body-para6 {
    margin-top: 1em;
    font-weight:bold ;
    font-size: 1.625em;
}
.careers-body-para7 {
    margin-top: 0.313em;
}

.career-form-row{
    display: flex;
    flex-direction: row;
    width: 62.5em;
    margin-left: auto;
    margin-right: auto;
}
.career-form{
    margin-top: 3.125em;
    margin-bottom: 3.125em;
    width: 27em;
    display: flex;
    flex-direction: column;
}
.career-form-name{
    display: flex;
    flex-direction: row;
    padding-top: 1.25em;
   
}
.career-form-name-icon{
    font-size: 0.6em;
    padding-bottom: 0.6em;
}
.career-form-title{
    padding-top: 0.188em;
    width: 10em;
}

.career-form-title1{
    width: auto;
    padding-top: 1.25em;

}
.career-form-text-area{
    min-width: 19.5em;
   max-width: 19.5em;
   min-height: 4em;
}
.career-form-name input{
    width: 18.75em;
    height: 1.563em;
    padding-left: 0.625em;
}
.career-form-email{
    display: flex;
    flex-direction: row;
    padding-top: 1.25em;
}
.career-form-email-icon{
    font-size: 0.6em;
    padding-bottom: 0.6em;
}
.career-form-email input{
    width: 18.75em;
    height: 1.563em;
    padding-left: 0.625em;
}
.career-form-number{
    display: flex;
    flex-direction: row;
    padding-top: 1.25em;
}
.career-form-number-icon{
    font-size: 0.6em;
    padding-bottom: 0.6em;
}
.career-form-number input{
    width: 18.75em;
    height: 1.563em;
    padding-left: 0.625em;
}
.career-form-area{
    display: flex;
    flex-direction: row;
    padding-top: 1.25em;
}   
.career-image{
    display: flex;
    flex-direction: row;
    padding-top: 5.5em;
    padding-left: 12.5em;
    width: 30em;
    height: 20em;
}
.career-form-button{
    display: flex;
    justify-content: center;
}
.career-form-but{
    margin-top: 1.875em;
    margin-bottom: 2.5em;
    border: none;
    border-radius: 0.313em;
    background-color: #FCB418 ;
    height: 1.875em;
    width: 32em;
}
.career-title{
    font-weight: bold;
    font-size: 2.5em;
    color :#FCB418 ;
}
@media only screen and (max-width: 480px) {
    .Careers{
        font-size: 14px;
    }
    .careers-head{
        width:100%;
        height: 100vh;
    
    }
    .careers-body{
        width: auto;
        margin-left: 1.25em;
        margin-right: 1.25em;
    
    }
    .career-form-row {
        display: flex;
        flex-direction: column;
    }
    .career-form {
        display: flex;
        flex-direction: column;
        width: 30em;
        margin-left: 1.25em;
        margin-right: 1.25em;

    }
    .career-title{
        font-size: 1.5em;
    }
    .career-form-name {
        width: auto;
    }
    .career-form-name input {
        width: 14em;
        padding-left: 0.4em;
    }
    .career-form-email input {
        width: 14em;
        padding-left: 0.4em;
    }
    .career-form-number input {
        width: 14em;
        padding-left: 0.4em;
    }
    .career-form-text-area {
        min-width: 14.5em;
        max-width: 14.5em;
    }
    .career-form-but {
        width: auto;
        margin-right: 1.25em;
        justify-content: center;
    }

    .career-image {
        width: 25em;    

        align-items: center;
        margin-left: -1.5em;
        margin-right: 2.25em;
        padding-top: 0;
        padding-left: 2.5em;
    }
}
@media only screen and  (min-width:500px) and (max-width: 999px) {
        
    .Careers{
        font-size: 13px;
      
    }
    .careers-body{
        width: auto;
        margin-left: 1.25em;
        margin-right: 1.25em;
    }
    .career-form-row {
        width: auto;
        margin-left:  1.25em;
        margin-right:  1.25em;
    }
    .career-form {
        width: 30em;
        margin-bottom: 0;

    }
    .career-form-title {
            width: 8em; 
    }
    .career-form-email input {
        height: 1.6em;
    }
.career-image {
        padding-left: 1em;
        width: 25em;
}
}
@media only screen and  (min-width:1400px) and (max-width: 2000px) {

    .Careers{
        font-size: 18px;
    }
}