.destdrop1{
font-size: 16px;
}
.destdrop{
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.destdrop-main{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    top: 0;
    left: 0;
}
.destdrop-head{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0 ;
    display: flex;
    flex-direction: column;
}
.destdrop-head-title{
    color: white;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    position: absolute;
}
.destdrop-body{
    width: 75.25em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3.125em;
    padding-right: 1.875em;
    padding-top: 5.625em;
    padding-bottom: 5.625em;
    display: flex;
    flex-direction: column;
}
.destdrop-body-title{
    font-weight: bold;
    font-size: 2em;
   
}


.destdrop-body-title-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.destdrop-list{
    padding-top: 1.25em;
}
.destdrop-list-title{
    display: flex;
    justify-content: center;
    font-size: 1.75em;
    font-weight: bold;
    padding-bottom: 0.625em;
    
}
.destdrop-select-main{
        margin-left: 1.25em;
}
@media only screen and (max-width: 480px) {
    .destdrop1{
        font-size: 14px;
        }
    .destdrop-head-title{
        font-size: 2em;
    }
    .destdrop-list-title{
        font-size: 1.25em;
    }
    .destdrop-body {
        width: auto;
        padding: 1.25em 0.625em;
    }
    .destdrop-body-title-main{
        justify-content: flex-start;
    }
    .destdrop-body-title {
        width: 12em;
        font-size: 1.35em ;
}
.destdrop-select-main{
    margin-left: 3em;

}
.destdrop-select option{
    max-height: 0.2em;
    min-height: 0.2em;
    font-size: 0.8em;
}
}
@media only screen and  (min-width:500px) and (max-width: 999px) {
    .destdrop1{
        font-size: 13px;
        }
    .destdrop-body{
        width: auto;
        padding-left: 1.25em;
        /* padding-right: 1.25em; */
    }
    .destdrop-body-title{
        font-size: 1.5em;
        font-weight: bold;
    }
    .destdrop-body-title-main{
        justify-content: space-between;
    }
    .destdrop-select{
        margin-top: 0.2em;
        font-size: 1em;
        width: 5em;
    }
}
@media only screen and  (min-width:1400px) and (max-width: 2000px) {

    .destdrop1{
        font-size: 18px;
        }
}