.f-body{
    margin-top: 50px;
    padding-top: 50px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; */
    align-items: center;
    background-color: #000;
    color: white;
}

.f-head {
display: flex;
flex-direction: row;
gap: 30px;
padding-left: 10px;
}
.f-bottom{
  display: flex;
  flex-direction: column;
}
.f-logo {
  display: flex;
  flex-direction: row;
}

.f-left {

  justify-content: left;
  display: flex;
  flex-direction: column;
  float: left;
 
}

.f-name {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.f-img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 40px;
}
      .f-logo-name-main{
        display: flex;
        flex-direction: column;
        width: 190px;
      }
      .f-name1{
        text-align: center;
        position: relative;
        font-size: 14px;
        top: -6px;
        font-weight:500;
        color: red;
        font-family: 'Montserrat', sans-serif;
      }
      .f-name1:before{
        content: "";
        display: block;
        width: 65px;
        height: 2px;
        background: white;
        position: absolute;
        left: 0;
        top: 50%;
      }
      .f-name1:after{
        content: "";
        display: block;
        width: 65px;
        height: 2px;
        background: white;
        position: absolute;
        right: 0;
        top: 50%;
      }
.f-name2{
  /* margin-top: 20px; */
}
.f-mid-main{
  display: flex;
  flex-direction: row;
}
  .f-mid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-top: 100px; */
    padding-left: 50px;
  }
  .f-mid-name{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 40px;
  }
  .f-mid-sub{
    font-size: 18px;
    padding-bottom: 10px;
  }
.f-footer{
  text-align: center;
  display: flex;
  justify-content: center;
}
  .f-dot {
    margin-top: 15px;
    color: #FCB418;
    float: left;
    display: flex;
    align-items: center;
    justify-content:center ;
    /* display: inline-block; */
  }
  .f-dot1 {
    margin-top: 15px;
    margin-left: 30px;
    float: left;
    display: flex;
    align-items: center;
    justify-content:center ;
    color: #FCB418;
    /* display: inline-block; */
  }
  .f-end{
    margin-top: 50px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    color:  black;
    font-weight: bold;
    /* background: #FCB418; */
  }
  .f-end-name{
    color: #FCB418;
  }
  .f-end-name1{
    color: red;
  }
  .f-dot-icon{
    font-size: 26px;
   
  }
  @media only screen and  (min-width:500px) and (max-width: 999px) {
    .f-head{
      flex-direction: column;
      align-items: center;
    }
    .f-mid-main{
      margin-top: 30px;
      /* margin-left: 50px; */
    }
    .f-footer{
      display: flex;
      justify-self: center;
    }
    .f-mid{
      align-items: center;
    }
    .f-mid-name{
      padding-bottom: 20px;
    }
  .f-dot{
    margin-top: 30px;
  }
  .f-dot1{
    margin-left: 30px;
    margin-top: 30px;
  }
  .f-end{
    padding-left: 50px;
    padding-top: 70px;

  }
  }
  @media only screen and (max-width: 480px) {
    .f-head{
      flex-direction: column;
      align-items: center;
    }
    .f-img {
      margin-left: 0;
    }
    .f-mid-main{
      /* flex-direction: column; */
      margin-left: 20px;
    }
    .f-mid{
      align-items: center;
      padding-top: 0;
      padding-left: 0;
      padding-right: 20px;
    }
    .f-mid-name{
     padding-bottom: 30px;
    }
    .f-footer{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .f-dot{
      margin-top: 20px;
      margin-left: 10px;
    }
    .f-dot1{
      margin-left: 30px;
      margin-top: 20px;
    }
    .f-end{
      padding-left: 30px;
      padding-top: 80px;
    }
  }
  